body{
    background-color: black;
}

h1{
    font-size: xx-large;
    color: aqua;
    font-family: 'Rubik Glitch';
}
h2{
    color: aqua;
}
h7{
    color: aqua;
    font-size: x-small;
}